body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}


.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.select-materia, .instancia-form, .alumno-form, .notas-table {
    margin-bottom: 20px;
}

.select-materia select, .instancia-form select, .alumno-form select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.notas-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.notas-table th, .notas-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.notas-table th {
    background-color: #e9ecef;
}

.form-control, .btn-primary {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.navbar {
    margin-bottom: 20px;
    width: 100%;
    margin: 0;
}
