
#logo img {
    height: 6vh;
}

.navbar {
    min-height: 7vh;
    border-bottom: 1px grey solid;
}


.container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}