.main{
    width: calc(100% - 60px);
    max-width: 1400px;
    height: fit-content;
    margin: 30px auto;
}
#alumnos{
    top: calc(80px);
    width: 100%;
    max-width: 1400px;
    height: min-content;
    margin: 50px auto;
    overflow-x: scroll;
}
.tabla_alumnos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.tabla_alumnos .ta{
    background-color: #bbbbbb;
    border-bottom: 1px solid #000000;
    color: #fff;
    font-weight: bold;
}
.tabla_alumnos p{
    padding: 10px;
}





body.alumnos_none .cursos{
    display: none;
  }
.cursos{
    width: calc(100% - 50px);
    max-width: 1400px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    gap: 20px;
}
.cursos a{
    width: 240px;
    height: 80px;
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 5px;
    display: grid;
    place-items: center;
}




.sin_alumnos{
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sin_alumnos{
    font-size: 3rem;
}