main.body{
    background-color: #fff;
    width: calc(100% - 40px);
    max-width: 1000px;
    height: fit-content;
    min-height: calc(100vh - 200px);
    margin: 0px auto;
    box-shadow: 1px 2px 10px #d0d0d0;
    border-radius: 10px  ;
    padding: 10px 20px;
}
.container-index{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-content: center;
    gap: 20px;
}
.container-index .items-index{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-hover{
    opacity: .7;
}
.text-hover:hover{
    opacity: 1;
}

.td-size-curso:first-child{
    width: calc(100% - 300px);
}
.td-size-curso:last-child{
    width: 300px;
}